@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


/* 
 *	Start of App CSS 
 *  ----------------
 */

/* Fonts */

@font-face {
    font-family: 'LeagueGothic';
    src: url('../webfonts/leaguegothic-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic-Condensed';
    src: url('../webfonts/leaguegothic-condensed-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-condensed-regular-webfont.svg#LeagueGothicCondesnedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:url('../webfonts/icons.eot?rthc1w');
	src:url('../webfonts/icons.eot?#iefixrthc1w') format('embedded-opentype'),
		url('../webfonts/icons.woff?rthc1w') format('woff'),
		url('../webfonts/icons.ttf?rthc1w') format('truetype'),
		url('../webfonts/icons.svg?rthc1w#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-play:before {
	content: "\f04b";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}


/* Header Settings */
h1, h2, h3, h4 {
	font-family: 'LeagueGothic';
}

h1 {
	margin-top: 1.5rem;
}

a {
	color: #3871B3;

	&:hover {
		color: #285283;
	}
}

/* Utility Classes */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


$challenge-nav-height: 2.1rem;
$user-nav-height: 3rem;
$challenge-panel-height: 2.5rem;


.button {
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);

	&.disabled {
		background-color: #ADADAD !important;
		border-color: #B8B8B8;

		&:hover, &:activev {
			background-color: #ADADAD;
		}
	}
}

/* Custom Form Elements */
.challenge-submit-button { 
	@include button; 

	border-width: 4px;
	background-color: #f3af3d;
	border-color: #313131;
	color: #313131;
	font-family: 'LeagueGothic';
	font-size: 1.3rem;
	line-height: 1rem;
	padding: 0.8rem 1.5rem 0.7625rem 1.5rem;
	box-shadow: none;
	text-transform: uppercase;

	&.bg-none {
		background: none;
		opacity: .6;

		&:hover {
			opacity: 1;
		}
	}

	&.expand {
		width: 100%;
	}

	&:hover {
		color: scale-color(#313131, $lightness: -10%);
	}
}

input[type=radio].custom,
input[type=checkbox].custom {
	display: none;
}

.custom + label {
	position: relative;
	margin-left: 1.3rem !important;
	padding-left: .6rem;
}

.custom + label:before {
	font-family: 'icons';
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	left: -21px;
	bottom: -2px;
	border: 4px solid #313131;
	color: $primary-color;
}

input[type='radio'].custom:checked + label {
	font-weight: 700;
}

input[type='radio'].custom:checked + label:before {
    content: "\f00c";
    font-size: 1rem;
	text-align: center;
	line-height: 17px;
	border-color: $primary-color;
}

input[type='radio'].custom.negative:checked + label:before {
    content: "\f00d";
    font-size: 1rem;
	text-align: center;
	line-height: 17px;
	color: $warning-color;
	border-color: $warning-color;
}

input[type='checkbox'].custom:checked + label:before {
	content: "\f00c";
	font-size: 1rem;
	text-align: center;
	line-height: 18px;
}


/* Autocomplete Styles */
.twitter-typeahead {
	width: 100%;
}

.typeahead,
.tt-query,
.tt-hint {
	width: 396px;
	height: 30px;
	padding: 8px 12px;
	font-size: 24px;
	line-height: 30px;
	border: 2px solid #ccc;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	outline: none;
}

.typeahead {
	background-color: #fff;
}

.typeahead:focus {
	border: 2px solid #0097cf;
}

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	max-height: 150px;
	overflow-y: auto;
	width: 100%;
	margin-top: -9px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	 -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	      box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.tt-suggestion {
	padding: 2px 15px;

	&.tt-cursor {
		color: #fff;
		background-color: #F4C26F;
	}

	p {
		margin: 0;
		font-size: 0.8rem;
	}
}




// Media Queries

// Small screens
@media only screen { 

	.challenge-nav {

		width: 100%;
		height: $challenge-nav-height;
		background: $secondary-color;

		ul {
			list-style: none;
			margin-left: 0;
			font-family: 'LeagueGothic';
			font-size: 1.2rem;

			background: none;

			height: 100%;
			width: 100%;
			line-height: $challenge-nav-height;

			li {
				float: left;

				a {
					padding-left: 0.8rem;
					padding-right: 0.8rem;

					display: block;
					height: 100%;

					color: white;
					opacity: .7;
					transition: opacity 100ms;

					&.active, &:active {
						opacity: 1;
					}

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.register-form-bg {
		padding-bottom: 1.5rem;
		padding-top: 1rem;
		background-image: url('/images/bg-small.jpg');
		background-size: cover;
		background-position: center center;
	}

	.login.fields {

		h2 {
			padding-top: 1rem;
			text-transform: uppercase;
		}

		h3 {
			margin-top: 2rem;
		}

		.forgot-password-link {
			display: block;
			text-align: right;
			margin-top: 1rem;

			&.left {
				text-align: left;
			}
		}
	}

	.hero-text {
		margin-left: 1rem;
		margin-top: 5rem;
		position: relative;

		h1, h3 {
			color: #fff;
			text-transform: uppercase;
		}

		h1 {
			width: 20rem;
			line-height:2.8rem;
			font-size: 3rem;
			margin-bottom: 0;
		}

		h3 {
			margin-top: 0;
		}

		img {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
	}

	.user-nav {
		width: 100%;
		height: $user-nav-height;
		background: white;
		color: #999999;
		padding-left: 1rem;
		padding-right: 1rem;

		ul {
			list-style: none;
			margin-left: 0;
			font-family: 'LeagueGothic';
			font-size: 1.2rem;

			height: 100%;
			line-height: $user-nav-height;
			margin-bottom: 0;

			.user-name {
				span {
					display: none;
				}
			}

			li {
				float: left;
				margin-left: 1rem;

				&:first-child {
					margin-left: 0;
				}

				&.user-image img {
					width: 2.2rem;
				}

				span.points {
					color: #363636;
					margin-left: .5rem;
				}
			}

			&.right li {
				margin-left: 1rem;
				font-size: 1rem;
			}
		}
	}

	.user-details {
		clear: both;
		background: white;
		padding-top: 1rem;
		z-index: 2;
		position: absolute;
		width: 100%;
		display: none;

		.row {
			div:first-child {
				margin-bottom: 1rem;

				span {
					width: 100%;
					display: block;
					position: relative;
				}

				img {
					width: 100%;
				}

				i {
					position: absolute;
					right: .2rem;
					bottom: 0.5rem;
					color: white;
					font-size: 2rem;
					opacity: .7;
					transition: opacity 150ms;
				}

				span:hover {
					i {
						opacity: 1;
					}
				}
			}
		}

		.school-info {
			text-align: left;
			padding-left: 0.5rem;
			margin-top: 1rem;

			span {
				font-family: 'LeagueGothic';
				display: block;

				&:first-child {
					font-size: 2rem;
					line-height: 1;
				}

				&:last-child {
					font-size: 1.4rem;
					color: #999999;
				}
			}
		}

		.close {
			display: block;
			margin-top: .5rem;
			text-align: right;
			color: $jet;
			font-family: 'LeagueGothic';
			font-size: 1.3rem;
		}
	}

	.content {
		position: relative;
		z-index: 1;

		h1 {
			&:before {
				content: '';
				display: block;
				height: 50px;
				width: 50px;
				background-size: 41px;
				float: left;
			}

			&.rewards {
				background: url('/images/icon-rewards.png') no-repeat;
				background-position: 4px 1px;

				& + p {
					padding-left: 50px;
				}
			}

			&.challenges {
				background: url('/images/icon-challenges.png') no-repeat;
				background-position: 4px 1px;
			}

			&.news {
				background: url('/images/icon-news.png') no-repeat;
				background-position: 5px 0px;
				background-size: 37px;
			}

			&.activity {
				background: url('/images/icon-activity.png') no-repeat;
				background-position: 4px 1px;
			}

			&.leaderboard {
				background: url('/images/icon-leaderboard.png') no-repeat;
				background-position: 4px 1px;
			}

			&.pictures {
				background: url('/images/icon-pictures.png') no-repeat;
				background-position: 4px 1px;
			}
		}
	}

	.main-content {
		background: #dddfd7;
		border-left: 1px solid #d3d4ca;
		border-right: 1px solid #d3d4ca;
		padding-bottom: 1rem;
	}

	.sidebar-content {
		dl {
			line-height: .8;
		}

		.row.display {

			img {
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
				width: 100%;
			}

			.columns {
				margin-bottom: 1rem;
			}
		}
	}

	.tabs-content {
		.row {
			min-height: 3rem;
			border-top: 1px solid rgba(0,0,0,.06);

			margin-left: 0;
			margin-right: 0;

			&:first-child {
				border-top: none;
			}

			.columns {
				img {
					width: 2.3rem;
					margin-right: .5rem;
					float: left;
					margin-top: .4rem;
				}

				span:last-of-type {
					font-size: .7rem;
					display: block;
				}

				span:first-of-type {
					font-size: .8rem;
					padding-top: .4rem;
					display: block;
				}

				span:only-of-type {
					line-height: 1.1rem;
					margin-top: 1rem;
					padding-top: 0;
				}

				&:first-child {
					text-align: center;
					line-height: 3rem;
					font-family: 'LeagueGothic';
					font-size: 1.1rem;
				}

				&:last-child {
					line-height: 3rem;
				}
			}
		}

		> .content {
			padding-bottom: .2rem;
			padding-top: .2rem;
			background: white;
		}
		
		.callout {
			box-shadow: 0 -3px 10px rgba(0,0,0,0.1);

			.row:first-child {
				border-top: 1px solid rgba(0,0,0,.06);
			}
		}

		.personal {
			background: rgba(0,0,0,.06);
		}
	}

	.panel {
		font-size: 1rem;	
		box-shadow: 0 0 10px rgba(0,0,0,.1);
		border: none;
		padding: .5rem;
		margin-bottom: .6rem;

		transition: margin 200ms;
		transition-delay: 100ms;

		.left-info {
			float: left;
			width: 2.8rem;
			height: 2.8rem;
			line-height: 2.8rem;
			margin-right: .5rem;

			text-align: center;
			color: white;
			font-family: 'LeagueGothic';
			font-size: 1.3rem;

			&.bg {
				background: #de2023;
			}

			img {
				width: 100%;
			}
		}


		h5 {
			font-size: .7rem;
			color: #e31d1a;
			margin-bottom: .3rem;
		}

		&.challenge {
			padding: 0;
			margin-left: 2.3rem;
			margin-top: 2.5rem;

			&:first-of-type {
				margin-top: 1.5rem;
			}

			.topbar {
				width: 100%;
				height: $challenge-panel-height;
				line-height: $challenge-panel-height;
				background: #313131;
				padding-left: 3rem;
				padding-right: 1rem;
				position: relative;

				text-transform: uppercase;
				font-family: 'LeagueGothic';
				font-size: 1.4rem;

				transition: height 200ms ease-in-out;

				h5 {
					float: left;
					font-size: 1.4rem;
					color: #f0aa42;
					line-height: $challenge-panel-height;
					margin-top: 0;
					text-transform: uppercase;
					font-family: 'LeagueGothic';
				}

				span {
					float: right;
					color: white;

					transition: color 200ms ease-in-out;
				}

				.complete-info {
					height: 0;
					overflow: hidden;
					transition: height 300ms ease-in-out;
				}

				&:before {
					content: '';
					height: 80px;
					width: 80px;
					display: inline-block;
					position: absolute;
					left: -40px;
					top: -20px;

					transition: all 300ms ease-in-out;
					transition-delay: 50ms;
				}
			}

			.body {
				padding: 1.5rem;

				> label, label.title {
					text-transform: uppercase;
					font-family: 'LeagueGothic';
					font-size: 1.4rem;
				}

				a {
					// display: block;
					// width: 10rem;
					margin-bottom: 0;
				}

				.columns {
					margin-bottom: .5rem;
				}

				.row {
					margin-top: .8rem;
					margin-bottom: 1.5rem;
				}
			}

			&.quiz .topbar:before {
				background: url('/images/icon-quiz.png') no-repeat;
				background-size: 80px;
			}

			&.general .topbar:before {
				background: url('/images/icon-general-challenge.png') no-repeat;
				background-size: 80px;
			}

			&.video .topbar:before {
				background: url('/images/icon-video.png') no-repeat;
				background-size: 80px;
			}

			&.facebook .topbar:before {
				background: url('/images/icon-facebook.png') no-repeat;
				background-size: 80px;
			}

			&.instagram .topbar:before {
				background: url('/images/icon-instagram.png') no-repeat;
				background-size: 80px;
			}

			&.twitter .topbar:before {
				background: url('/images/icon-twitter.png') no-repeat;
				background-size: 80px;
			}

			&.link .topbar:before {
				background: url('/images/icon-link.png') no-repeat;
				background-size: 80px;
			}

			&.fishing .topbar:before {
				background: url('/images/icon-fishing.png') no-repeat;
				background-size: 80px;
			}

			&.fishing {
				textarea {
					border-width: 4px;
					border-color: #313131;
					box-shadow: none;
					-webkit-appearance: none;
					margin-top: 1rem;
					min-height: 5rem;
				}
			}

			&.image-left {
				.columns {
					margin-bottom: 0;
				}

				.row {
					margin-bottom: 0;
				}

				.thumb {
					margin-bottom: 1rem;
				}

				.challenge-submit-button {
					margin-top: 1rem;
				}
			}

			&.complete {
				margin-left: 0;
				margin-top: 2rem;

				.topbar {
					height: 6rem;

					h5 {
						display: none;
					}

					span {
						color: #f0aa42;
						position: absolute;
						top: -4px;
						right: 12px;
						font-size: 1rem;
					}

					&:before {
						height: 70px;
						width: 70px;
						left: 8px;
						top: 13px;
						background-size: 70px;
					}

					.complete-info {
						height: 5rem;
						overflow: hidden;
						padding-top: 1.8rem;
						padding-left: 2.2rem;

						h1 {
							font-size: 1.6rem;
							color: white;
							margin-bottom: 0;
							margin-top: 0;
							line-height: 1.5rem;

							&:before {
								content: none;
							}
						}

						p {
							color: #676565;
						}
					}
				}

				.body {
					display: none;
				}
			}
		}
	}

	.info-panel p {
		padding-left: 3.3rem;
	}

	.more-challenges {

		margin-top: 1.5rem;
	}

	.register {
		h1, h3 {
			text-transform: uppercase;
		}
	}

	.register-info {
		h1 {
			font-size: 3.5rem;
			margin-bottom: 0;
			line-height: normal;
		}

		h3 {
			color: #8b171c;
			border-bottom: 2px solid #cbcbcb; 
			padding-bottom: .7rem;
		}

		ul {
			list-style: none;
			margin-left: 1.5rem;
		}

		li {
			margin-bottom: 0.5rem;
		}
	}

	.register-form {
		margin-top: 1.5rem;
		padding: 1rem;

		p {
			font-size: .8rem;
		}

		.topbar {
			margin-left: -1rem;
			margin-right: -1rem;
			margin-top: -1rem;
			margin-bottom: 1rem;
			height: 60px;

			background: rgb(191,34,38); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(191,34,38,1) 0%, rgba(138,23,28,1) 50%, rgba(191,34,38,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,34,38,1)), color-stop(50%,rgba(138,23,28,1)), color-stop(100%,rgba(191,34,38,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(191,34,38,1) 0%,rgba(138,23,28,1) 50%,rgba(191,34,38,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(191,34,38,1) 0%,rgba(138,23,28,1) 50%,rgba(191,34,38,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(191,34,38,1) 0%,rgba(138,23,28,1) 50%,rgba(191,34,38,1) 100%); /* IE10+ */
			background: linear-gradient(to right,  rgba(191,34,38,1) 0%,rgba(138,23,28,1) 50%,rgba(191,34,38,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2226', endColorstr='#bf2226',GradientType=1 ); /* IE6-9 */
			
			h1 {
				color: white;
				display: inline-block;
				line-height: 60px;
				font-size: 2.3rem;
				float: right;
				margin-right: 15px;
				margin-top: 0;
				margin-bottom: 0;
			}

			img {
				width: 137px;
				display: inline-block;
				position: relative;
				top: -14px;
				left: 12px;
			}
		}

		.highschool-search {
			position: relative;

			input {
				padding-right: 35px;
			}

			i {
				position: absolute;
				top: 8px;
				right: 11px;
			}
		}

		.coach-specific {
			display: none;
			padding-bottom: 1rem;

			p {
				font-size: 0.8rem;
			}
		}
		
		input[type='text'],input[type='password'] {
			background: white;
			margin-bottom: .5rem;
		}

		.button {
			margin-bottom: 0;
			width: 100%;
			margin-top: .5rem;
			padding-top: .7rem;
			padding-bottom: .7625rem;
		}

		.facebook-register-button {
			display: none;
		}

		.facebook-link {
			text-align: center;
			margin-top: .5rem;
			margin-bottom: 0;
		}
	}

	.reward-panel {
		padding: 1.3rem;
		margin-top: 1rem;
	}

	.reward-image {
		// height: 18rem;
		margin-top: -1.3rem !important;
		margin-left: -1.3rem;
		margin-right: -1.3rem;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	.reward-content {
		padding-top: 1rem;
		text-align: center;

		h3 {

		}

		p {
			border-bottom: 1px solid #cfcfcf;
			padding-bottom: 0.7rem;
			margin-bottom: 1rem;
		}

		a {
			margin-bottom: 0;
			width: 100%;
			padding-top: .7rem;
			padding-bottom: .7625rem;
		}
	}

	.redeem {
		.info {
			margin-top: 2rem;

			.button {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				margin-top: 0.8rem;
			}

			.cancel {
				margin-left: 1rem;
			}
		}
	}

	.redeem-confirm {
		.info {
			margin-top: 2rem;
		}
	}

} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {

	.register-form-bg {
		background-image: url('/images/bg-medium.jpg');
	}

	.login.fields {
		height: 19rem;
	}

	.challenge-nav {

		ul {

			li {
				float: left;

				a {
					padding-left: 2.2rem;
					padding-right: 1rem;

					background-repeat: no-repeat;
					background-size: 22px;
					background-position: 7px 4px;
				}
			}
		}

		.home a {
			background-image: url(../images/nav-home.png);
		}

		.challenges a {
			background-image: url(../images/nav-challenges.png);
		}

		.rewards a {
			background-image: url(../images/nav-rewards.png);
		}

		.help a {
			background-image: url(../images/nav-help.png);
		}

		.logout a {
			background-image: url(../images/nav-logout.png);
		}
	}

	.user-nav {
		ul {
			.user-name {
				span {
					display: inline-block !important;
				}
			}

			&.right li {
				margin-left: 2rem;
				font-size: 1.2rem;
			}
		}
	}

	.user-details {

		.row {
			div:first-child {
				span {
					width: auto;
				}

				img {
					width: 250px;
				}
			}
		}

		.school-info {
			text-align: right;
			padding-left: 0.9375rem;
			margin-top: 0;
		}
	}

	.content {
		h1 {

			&.challenges {
				background: url('/images/icon-challenges.png') no-repeat;
				background-position: 4px 7px;

				display: inline-block;

				& + span {
					display: inline-block !important; /* issue with Foundation hiding on small screen sizes */
					margin-left: 1rem;
				}
			}

			&.rewards {
				background: url('/images/icon-rewards.png') no-repeat;
				background-position: 4px 7px;

				& + p {
					padding-left: 50px;
				}
			}

			&.news {
				background: url('/images/icon-news.png') no-repeat;
				background-position: 4px 7px;
			}

			&.activity {
				background: url('/images/icon-activity.png') no-repeat;
				background-position: 4px 7px;
			}

			&.leaderboard {
				background: url('/images/icon-leaderboard.png') no-repeat;
				background-position: 4px 7px;
			}

			&.pictures {
				background: url('/images/icon-pictures.png') no-repeat;
				background-position: 4px 7px;
			}
		}
	}

	.panel {
		&.challenge {

			&.complete {
				margin-left: 2.3rem;
				margin-top: 2.5rem;
				
				.topbar {
					height: 7rem;

					span {
						font-size: 1.4rem;
						position: inherit;
						top: 0;
						right: 0;
					}

					&:before {
						height: 90px;
						width: 90px;
						left: 22px;
						top: 10px;
						background-size: 90px;
					}

					.complete-info {
						height: 7rem;
						padding-top: 1.9rem;
						padding-left: 5rem;

						h1 {
							font-size: 2rem;
							line-height: 1;
						}
					}
				}
			}
		}
	}

	.row.pad-small {
		.row {
			margin-left: -0.3rem;
			margin-right: -0.3rem;
		}

		.columns {
			padding-left: 0.3rem;
			padding-right: 0.3rem;
		}
	}

	.hero-text {
		margin-top: 3rem;

		h1 {
			font-size: 4rem;
			line-height:3.5rem;
		}
		
		img {
			margin-bottom: 0;
			margin-top: 0;
			position: absolute;
			top: -2rem;
			left: 20rem;
		}
	}

	.reward-panel {

	}

	.redeem {
		.info {
			margin-top: 1rem;
		}
	}

	.redeem-confirm {
		.info {
			margin-top: 5rem;
		}
	}

	.redeem .reward-panel, .redeem-confirm .reward-panel {
		margin-left: 3rem;
	}

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
	.register-form-bg {
		background-image: url('/images/bg-large.jpg');
	}

	.user-nav {
		padding-left: 0;
		padding-right: 0;
	}

	.hero-text {
		margin-top: 8rem;

		img {
			margin-bottom: 0;
			margin-top: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
